<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div ng-app="movieApp" ng-controller="movieController">

		<div class="jumbotron">
			<h1>#movieNight</h1>
			<h4>To get started, type in your movie</h4>
			<div class="form-group">
				<input placeholder="Movie Title" ng-model="title" class="input-lg form-control">
				<input placeholder="Number of results" ng-model="limit" class="input-lg form-control">
				<button type="button" class="btn btn-block btn-lg btn-danger" ng-click="search();">Search</button>
			</div>
		</div>


		<div class="row">
			<ul ng-repeat="item in result" class="col-xs-12 col-sm-12">
				<h2 class="header">Movie Title: {{ item.title }}</h2>
				<li><h1 class="btn btn-success">Critics Rating: {{ item.ratings.critics_score}} User Rating: {{ item.ratings.audience_score}}</h1></li>
				<img ng-src="{{ item.posters.original }}" class="img-rounded">
				<li><h1 class="btn btn-info">Year: {{ item.year }}</h1></li>
				<li><h1 class="btn btn-danger">Rating: {{ item.mpaa_rating }}</h1></li>
				<li><h1 class="btn btn-primary">Length: {{ item.runtime }} Minutes</h1></li>
				<br>
				<li>From the Critics: <p>{{ item.critics_consensus }}</p></li>
			</ul>
		</div>

	</div>
</body>
</html>
